In [1]:
import pandas as pd

In [19]:
old_data  = pd.read_csv('school_data.csv', usecols=['School_name ' ,'school_type','city ' ,'zipcode'])
old_data.head()

,School_name,school_type,city,zipcode
0,Boulder Creek High School,Public,Anthem,85086
1,Great Hearts Academies - Anthem Prep,Public,Anthem,85086
2,West-Mec - Boulder Creek High School,Public,Anthem,85086
3,Agua Fria High School,Public,Avondale,85323
4,Arizona Agribusiness & Equine Center - Estrella,Public,Avondale,85007

In [30]:
new_data  = pd.read_csv('school_data_3.csv')
new_data.head()

,School_name,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,hispanic,hispanic_percent,native_american,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,9 - 12,B,Yes,169,13,7.69,92,54.44,<10,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
1,Accelerated Learning Center,9 - 12,A,No,153,<10,<10,27,17.65,<10,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
2,Agua Fria High School,9 - 12,B,Yes,1653,177,10.71,1185,71.69,<10,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes
3,Alhambra High School,9 - 12,C,Yes,2283,235,10.29,1838,80.51,28,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes
4,Apollo High School,9 - 12,B,Yes,2198,176,8.01,1582,71.97,<10,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],NaN,NaN,NaN,NaN,NaN

In [31]:
result = pd.merge(new_data, old_data, on="School_name ")
result

,School_name,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,hispanic,hispanic_percent,native_american,...,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5,school_type,city,zipcode
0,Academy with Community Partners,9 - 12,B,Yes,169,13,7.69,92,54.44,<10,...,"['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes,Public,Mesa,85203
1,Accelerated Learning Center,9 - 12,A,No,153,<10,<10,27,17.65,<10,...,"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes,Public,Phoenix,85028
2,Agua Fria High School,9 - 12,B,Yes,1653,177,10.71,1185,71.69,<10,...,"['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes,Public,Avondale,85323
3,Alhambra High School,9 - 12,C,Yes,2283,235,10.29,1838,80.51,28,...,"['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes,Public,Phoenix,85019
4,Apollo High School,9 - 12,B,Yes,2198,176,8.01,1582,71.97,<10,...,"['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],NaN,NaN,NaN,NaN,NaN,Public,Glendale,85302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Wickenburg Virtual Academy,Kindergarten - 12,NaN,No,78,<10,<10,30,38.46,NaN,...,"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],NaN,NaN,NaN,NaN,NaN,Public,Wickenburg,85390
219,Williams Field High School,8 - 12,A,No,2115,165,7.8,490,23.17,24,...,['No data available'],['No data available'],NaN,NaN,NaN,NaN,NaN,Public,Higley,85236
220,Willis Junior High School,7 - 8,B,Yes,858,48,5.59,495,57.69,<10,...,"['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes,Public,Chandler,85225
221,Willow Canyon High School,7 - 12,A,No,1787,137,7.67,575,32.18,20,...,"['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes,Public,Surprise,85374
222,Youngker High School,9 - 12,A,Yes,2107,192,9.11,1372,65.12,19,...,"['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes,Public,Buckeye,85326

In [32]:
result = result[['School_name ','school_type','city ','zipcode','edu_range','school_grade','title_i_status','total_students', 'african_american', 'african_american_percent', 'hispanic', 'hispanic_percent', 'native_american', 'native_american_percent', 'white', 'white_percent', 'multiple_race', 'multiple_race_percent', 'asian', 'asian_percent', 'pacific_islander', 'pacific_islander_percent', 'proficiency_pts', 'Grad_Rate_pts', 'Dropout_rate', 'CCRI_points', 'promotion_rate', 'No_of_students_adv_placement_course', 'Students_with_Chronic_Absenteeism', 'crime_rate', 'total_students_bullied', 'personnel_federal_expenditure', 'personnel_state_and_local_expenditure', 'non_personnel_federal_expenditure', 'non_personnel_state_and_local_expenditure', 'total_per_pupil_expenditure', 'awards_and_recognitions', 'academic_offerings', 'sports_facilities', 'music_facilities', 'after_school_opportunities', 'other_facilities', 'student_services', 'acad_focus_1', 'acad_focus_2', 'acad_focus_3', 'acad_focus_4', 'acad_focus_5', ]]
result

,School_name,school_type,city,zipcode,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 - 12,B,Yes,169,13,7.69,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
1,Accelerated Learning Center,Public,Phoenix,85028,9 - 12,A,No,153,<10,<10,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
2,Agua Fria High School,Public,Avondale,85323,9 - 12,B,Yes,1653,177,10.71,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes
3,Alhambra High School,Public,Phoenix,85019,9 - 12,C,Yes,2283,235,10.29,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes
4,Apollo High School,Public,Glendale,85302,9 - 12,B,Yes,2198,176,8.01,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Wickenburg Virtual Academy,Public,Wickenburg,85390,Kindergarten - 12,NaN,No,78,<10,<10,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],NaN,NaN,NaN,NaN,NaN
219,Williams Field High School,Public,Higley,85236,8 - 12,A,No,2115,165,7.8,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],NaN,NaN,NaN,NaN,NaN
220,Willis Junior High School,Public,Chandler,85225,7 - 8,B,Yes,858,48,5.59,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes
221,Willow Canyon High School,Public,Surprise,85374,7 - 12,A,No,1787,137,7.67,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes
222,Youngker High School,Public,Buckeye,85326,9 - 12,A,Yes,2107,192,9.11,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes

In [33]:
result.to_csv('dataset_of_schools_in_phoenix_metropolitan.csv',index=False)

In [35]:
result["Grad_Rate_pts"].isnull().value_counts()

Grad_Rate_pts
False    165
True      58
Name: count, dtype: int64

In [4]:
import pandas as pd
df = pd.read_csv('dataset_of_schools_in_phoenix_metropolitan.csv')
df.head()

df['school_grade'].isnull().value_counts()

school_grade
False    209
True      12
Name: count, dtype: int64

In [5]:
df['school_grade'].fillna('B', inplace=True)
df['school_grade'].isnull().value_counts()

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/2813297388.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['school_grade'].fillna('B', inplace=True)

school_grade
False    221
Name: count, dtype: int64

In [6]:
df['proficiency_pts'].isnull().value_counts()

proficiency_pts
False    206
True      15
Name: count, dtype: int64

In [7]:
proficiency_pts_mean = df['proficiency_pts'].mean().round(2)
df['proficiency_pts'].fillna(proficiency_pts_mean, inplace=True)
df['proficiency_pts'].isnull().value_counts()

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/4013736679.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['proficiency_pts'].fillna(proficiency_pts_mean, inplace=True)

proficiency_pts
False    221
Name: count, dtype: int64

In [8]:

df['Grad_Rate_pts'].isnull().value_counts()

Grad_Rate_pts
False    165
True      56
Name: count, dtype: int64

In [9]:
mean_grad_rate_pts = round(df['Grad_Rate_pts'].mean(), 2)
condition_12 = df['edu_range'].str.split('-').str[-1] == ' 12'
for i in condition_12:
    if(i == True):
        df['Grad_Rate_pts'].fillna(mean_grad_rate_pts, inplace=True)
    else:
        df['Grad_Rate_pts'].fillna(0, inplace=True)
df['Grad_Rate_pts'].isnull().value_counts()

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/1379915649.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Grad_Rate_pts'].fillna(mean_grad_rate_pts, inplace=True)
/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/1379915649.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Grad_Rate_pts'].fillna(0, inplace=True)

Grad_Rate_pts
False    221
Name: count, dtype: int64

In [0]:
df['Grad_Rate_pts'].value_counts()
df['CCRI_points'].isnull().value_counts()
mean_ccri_pts = round(df['CCRI_points'].mean(), 2)
condition_12 = df['edu_range'].str.split('-').str[-1] == ' 12'
for i in condition_12:
    if(i == True):
        df['CCRI_points'].fillna(mean_ccri_pts, inplace=True)
    else:
        df['CCRI_points'].fillna(0, inplace=True)

In [11]:
df['CCRI_points'].isnull().value_counts()

CCRI_points
False    221
Name: count, dtype: int64

In [10]:
df['CCRI_points'].value_counts()

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/2184214477.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CCRI_points'].fillna(mean_ccri_pts, inplace=True)
/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_57663/2184214477.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CCRI_points'].fillna(0, inplace=True)

CCRI_points
20.1    51
20.0    27
35.0    19
19.0     6
16.0     5
        ..
17.6     1
16.4     1
31.8     1
33.6     1
17.8     1
Name: count, Length: 81, dtype: int64

In [12]:

df.to_csv('dataset_of_schools_in_phoenix_metropolitan-1.csv', index=False)