In [100]:
import pandas as pd

In [101]:
school_data = pd.read_csv('dataset_of_schools_in_phoenix_metropolitan-1.csv')
school_data.head()

,School_name,school_type,city,zipcode,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 - 12,B,Yes,169,13,7.69,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
1,Accelerated Learning Center,Public,Phoenix,85028,9 - 12,A,No,153,<10,<10,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",Yes,Yes,Yes,Yes,Yes
2,Agua Fria High School,Public,Avondale,85323,9 - 12,B,Yes,1653,177,10.71,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],Yes,Yes,Yes,Yes,Yes
3,Alhambra High School,Public,Phoenix,85019,9 - 12,C,Yes,2283,235,10.29,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",Yes,Yes,Yes,Yes,Yes
4,Apollo High School,Public,Glendale,85302,9 - 12,B,Yes,2198,176,8.01,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],NaN,NaN,NaN,NaN,NaN

In [102]:
school_data['Dropout_rate'].isnull().value_counts()

Dropout_rate
False    182
True      39
Name: count, dtype: int64

In [103]:
school_data.fillna({'Dropout_rate': 0}, inplace=True)
school_data['Dropout_rate'].isnull().value_counts()

Dropout_rate
False    221
Name: count, dtype: int64

In [104]:
school_data['No_of_students_adv_placement_course'].isnull().value_counts()

No_of_students_adv_placement_course
False    219
True       2
Name: count, dtype: int64

In [105]:
school_data['Students_with_Chronic_Absenteeism'].isnull().value_counts()

Students_with_Chronic_Absenteeism
False    219
True       2
Name: count, dtype: int64

In [106]:
school_data['crime_rate'].isnull().value_counts()

crime_rate
False    219
True       2
Name: count, dtype: int64

In [107]:
school_data['total_students_bullied'].isnull().value_counts()

total_students_bullied
False    219
True       2
Name: count, dtype: int64

In [108]:

school_data.fillna({'No_of_students_adv_placement_course': 0.0, 'Students_with_Chronic_Absenteeism' : 0.0,'crime_rate' : 0.0, 'total_students_bullied' : 0.0}, inplace=True)

In [109]:
school_data['No_of_students_adv_placement_course'].isnull().value_counts()

No_of_students_adv_placement_course
False    221
Name: count, dtype: int64

In [110]:
school_data['Students_with_Chronic_Absenteeism'].isnull().value_counts()

Students_with_Chronic_Absenteeism
False    221
Name: count, dtype: int64

In [111]:
school_data['crime_rate'].isnull().value_counts()

crime_rate
False    221
Name: count, dtype: int64

In [112]:
school_data['total_students_bullied'].isnull().value_counts()

total_students_bullied
False    221
Name: count, dtype: int64

In [113]:
for column in school_data.columns:
    if 'acad_focus_' in column:
        print(school_data[column].isnull().value_counts())

acad_focus_1
True     120
False    101
Name: count, dtype: int64
acad_focus_2
True     120
False    101
Name: count, dtype: int64
acad_focus_3
True     120
False    101
Name: count, dtype: int64
acad_focus_4
True     120
False    101
Name: count, dtype: int64
acad_focus_5
True     120
False    101
Name: count, dtype: int64

In [114]:
for column in school_data.columns:
    if 'acad_focus_' in column:
        school_data.fillna({column: "No"}, inplace=True)

In [115]:
for column in school_data.columns:
    if 'acad_focus_' in column:
        print(school_data[column].isnull().value_counts())

acad_focus_1
False    221
Name: count, dtype: int64
acad_focus_2
False    221
Name: count, dtype: int64
acad_focus_3
False    221
Name: count, dtype: int64
acad_focus_4
False    221
Name: count, dtype: int64
acad_focus_5
False    221
Name: count, dtype: int64

In [116]:

columns_to_replace = ['african_american', 'african_american_percent', 
                      'hispanic', 'hispanic_percent', 
                      'native_american', 'native_american_percent', 
                      'white', 'white_percent', 
                      'multiple_race', 'multiple_race_percent', 
                      'asian', 'asian_percent', 
                      'pacific_islander', 'pacific_islander_percent']

for column in columns_to_replace:
    print(school_data[column].isnull().value_counts())
    print()

african_american
False    218
True       3
Name: count, dtype: int64

african_american_percent
False    218
True       3
Name: count, dtype: int64

hispanic
False    221
Name: count, dtype: int64

hispanic_percent
False    221
Name: count, dtype: int64

native_american
False    205
True      16
Name: count, dtype: int64

native_american_percent
False    205
True      16
Name: count, dtype: int64

white
False    218
True       3
Name: count, dtype: int64

white_percent
False    218
True       3
Name: count, dtype: int64

multiple_race
False    208
True      13
Name: count, dtype: int64

multiple_race_percent
False    208
True      13
Name: count, dtype: int64

asian
False    188
True      33
Name: count, dtype: int64

asian_percent
False    188
True      33
Name: count, dtype: int64

pacific_islander
False    159
True      62
Name: count, dtype: int64

pacific_islander_percent
False    159
True      62
Name: count, dtype: int64

In [117]:
for column in columns_to_replace:
    school_data.fillna({column: 0}, inplace=True)

In [118]:

for column in columns_to_replace:
    print(school_data[column].isnull().value_counts())

african_american
False    221
Name: count, dtype: int64
african_american_percent
False    221
Name: count, dtype: int64
hispanic
False    221
Name: count, dtype: int64
hispanic_percent
False    221
Name: count, dtype: int64
native_american
False    221
Name: count, dtype: int64
native_american_percent
False    221
Name: count, dtype: int64
white
False    221
Name: count, dtype: int64
white_percent
False    221
Name: count, dtype: int64
multiple_race
False    221
Name: count, dtype: int64
multiple_race_percent
False    221
Name: count, dtype: int64
asian
False    221
Name: count, dtype: int64
asian_percent
False    221
Name: count, dtype: int64
pacific_islander
False    221
Name: count, dtype: int64
pacific_islander_percent
False    221
Name: count, dtype: int64

In [119]:
ignored_cols = ['awards_and_recognitions',
 'academic_offerings',
 'sports_facilities',
 'music_facilities',
 'after_school_opportunities',
 'other_facilities',
 'student_services']

In [122]:

#Removing '<' symbol
def remove_lt_symbol(text):
    if isinstance(text, str):
        return text.replace('<', '')
    else:
        return text
for column in school_data.columns:
    if column not in ignored_cols:
        # print(column)
        school_data[column] = school_data[column].apply(remove_lt_symbol)

In [123]:

#Removing ','
def remove_comma(text):
    if isinstance(text, str):
        return text.replace(',', '')
    else:
        return text

for column in school_data.columns:
    if column not in ignored_cols:
        # print(column)
        school_data[column] = school_data[column].apply(remove_comma)

In [124]:

#Removing '$' sign
def remove_dollar(text):
    if isinstance(text, str):
        return text.replace('$', '')
    else:
        return text
for column in school_data.columns:
    if column not in ignored_cols:
        school_data[column] = school_data[column].apply(remove_dollar)

In [125]:

#Converting to int
column_numbers_to_convert = [7,8, 10, 12, 14, 16, 18, 20] 
school_data.iloc[:, column_numbers_to_convert] = school_data.iloc[:, column_numbers_to_convert].astype(int)

In [126]:

#Converting to float
column_numbers_to_convert = [9, 11, 13, 15, 17, 19, 21]  
school_data.iloc[:, column_numbers_to_convert] = school_data.iloc[:, column_numbers_to_convert].astype(float)

In [127]:
column_numbers_to_convert = [6,43,44,45,46,47]
# for col_num in column_numbers_to_convert:
school_data.iloc[:, [6,43,44,45,46,47]] = school_data.iloc[:, [6,43,44,45,46,47]].replace(to_replace = 'No',value =0)
school_data.iloc[:, [6,43,44,45,46,47]] = school_data.iloc[:, [6,43,44,45,46,47]].replace(to_replace = 'Yes',value =1)
school_data

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_46286/2876677860.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  school_data.iloc[:, [6,43,44,45,46,47]] = school_data.iloc[:, [6,43,44,45,46,47]].replace(to_replace = 'Yes',value =1)

,School_name,school_type,city,zipcode,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 - 12,B,1,169,13,7.69,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Public,Phoenix,85028,9 - 12,A,0,153,10,10.0,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Public,Avondale,85323,9 - 12,B,1,1653,177,10.71,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Public,Phoenix,85019,9 - 12,C,1,2283,235,10.29,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Public,Glendale,85302,9 - 12,B,1,2198,176,8.01,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Wickenburg Virtual Academy,Public,Wickenburg,85390,Kindergarten - 12,B,0,78,10,10.0,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],0,0,0,0,0
217,Williams Field High School,Public,Higley,85236,8 - 12,A,0,2115,165,7.8,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0
218,Willis Junior High School,Public,Chandler,85225,7 - 8,B,1,858,48,5.59,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
219,Willow Canyon High School,Public,Surprise,85374,7 - 12,A,0,1787,137,7.67,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
220,Youngker High School,Public,Buckeye,85326,9 - 12,A,1,2107,192,9.11,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1

In [128]:
columns = ['personnel_federal_expenditure', 
           'personnel_state_and_local_expenditure', 
           'non_personnel_federal_expenditure', 
           'non_personnel_state_and_local_expenditure', 
           'total_per_pupil_expenditure']

In [129]:
for i in columns:
    print(school_data[i].isnull().value_counts())

personnel_federal_expenditure
False    139
True      82
Name: count, dtype: int64
personnel_state_and_local_expenditure
False    139
True      82
Name: count, dtype: int64
non_personnel_federal_expenditure
False    139
True      82
Name: count, dtype: int64
non_personnel_state_and_local_expenditure
False    139
True      82
Name: count, dtype: int64
total_per_pupil_expenditure
False    139
True      82
Name: count, dtype: int64

In [130]:
for cols in columns:
    school_data.fillna({cols: school_data[cols].dropna().min()}, inplace=True)

In [131]:
for i in columns:
    print(school_data[i].isnull().value_counts())

personnel_federal_expenditure
False    221
Name: count, dtype: int64
personnel_state_and_local_expenditure
False    221
Name: count, dtype: int64
non_personnel_federal_expenditure
False    221
Name: count, dtype: int64
non_personnel_state_and_local_expenditure
False    221
Name: count, dtype: int64
total_per_pupil_expenditure
False    221
Name: count, dtype: int64

In [132]:
school_data[school_data['total_students'] <= 10]

,School_name,school_type,city,zipcode,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
152,Pillar Academy Online,Public,Phoenix,85021,9 - 12,B,0,10,0,0.0,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0

In [133]:
school_data.drop(school_data[school_data['total_students'] <= 10].index, inplace=True)

In [134]:
school_data[school_data['total_students'] <= 10]

Empty DataFrame
Columns: [School_name , school_type, city , zipcode, edu_range, school_grade, title_i_status, total_students, african_american, african_american_percent, hispanic, hispanic_percent, native_american, native_american_percent, white, white_percent, multiple_race, multiple_race_percent, asian, asian_percent, pacific_islander, pacific_islander_percent, proficiency_pts, Grad_Rate_pts, Dropout_rate, CCRI_points, promotion_rate, No_of_students_adv_placement_course, Students_with_Chronic_Absenteeism, crime_rate, total_students_bullied, personnel_federal_expenditure, personnel_state_and_local_expenditure, non_personnel_federal_expenditure, non_personnel_state_and_local_expenditure, total_per_pupil_expenditure, awards_and_recognitions, academic_offerings, sports_facilities, music_facilities, after_school_opportunities, other_facilities, student_services, acad_focus_1, acad_focus_2, acad_focus_3, acad_focus_4, acad_focus_5]
Index: []

[0 rows x 48 columns]

In [135]:
school_data['school_grade'].unique()

array(['B', 'A', 'C', 'D', 'F'], dtype=object)

In [136]:
grade_mapping = {
    'A': 5,
    'B': 4,
    'C': 3,
    'D': 2,
    'F': 1
}

In [137]:
school_data['school_grade'] =school_data['school_grade'].map(grade_mapping)
school_data['school_grade']

0      4
1      5
2      4
3      3
4      4
      ..
216    4
217    5
218    4
219    5
220    5
Name: school_grade, Length: 220, dtype: int64

In [138]:
school_data['edu_range'] = school_data['edu_range'].replace({' - ': ' '},regex=True)
school_data

,School_name,school_type,city,zipcode,edu_range,school_grade,title_i_status,total_students,african_american,african_american_percent,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 12,4,1,169,13,7.69,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Public,Phoenix,85028,9 12,5,0,153,10,10.0,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Public,Avondale,85323,9 12,4,1,1653,177,10.71,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Public,Phoenix,85019,9 12,3,1,2283,235,10.29,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Public,Glendale,85302,9 12,4,1,2198,176,8.01,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Wickenburg Virtual Academy,Public,Wickenburg,85390,Kindergarten 12,4,0,78,10,10.0,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],0,0,0,0,0
217,Williams Field High School,Public,Higley,85236,8 12,5,0,2115,165,7.8,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0
218,Willis Junior High School,Public,Chandler,85225,7 8,4,1,858,48,5.59,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
219,Willow Canyon High School,Public,Surprise,85374,7 12,5,0,1787,137,7.67,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
220,Youngker High School,Public,Buckeye,85326,9 12,5,1,2107,192,9.11,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1

In [139]:
school_data['edu_range'] = school_data['edu_range'].replace({'Preschool.': '0 ', 'Kindergarten.': '0 '},regex=True)

In [140]:

school_data.insert(5, 'elementary_school', None)
school_data.insert(6, 'intermediate_school', None)
school_data.insert(7, 'middle_school', None)
school_data.insert(8, 'high_school', None)

In [141]:
school_data

,School_name,school_type,city,zipcode,edu_range,elementary_school,intermediate_school,middle_school,high_school,school_grade,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 12,None,None,None,None,4,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Public,Phoenix,85028,9 12,None,None,None,None,5,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Public,Avondale,85323,9 12,None,None,None,None,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Public,Phoenix,85019,9 12,None,None,None,None,3,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Public,Glendale,85302,9 12,None,None,None,None,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Wickenburg Virtual Academy,Public,Wickenburg,85390,0 12,None,None,None,None,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],0,0,0,0,0
217,Williams Field High School,Public,Higley,85236,8 12,None,None,None,None,5,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0
218,Willis Junior High School,Public,Chandler,85225,7 8,None,None,None,None,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
219,Willow Canyon High School,Public,Surprise,85374,7 12,None,None,None,None,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
220,Youngker High School,Public,Buckeye,85326,9 12,None,None,None,None,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1

In [142]:
for i, row in school_data.iterrows():
    edu_range = row['edu_range']
    a =edu_range[0]
    b =edu_range[2:]

    if int(edu_range[0]) in range(0, 3):
        school_data.loc[i, 'elementary_school'] = 1
        if b!= ' ' and int(b) >= 3:
            a = 3

    if int(a) in range(3, 6):
        school_data.loc[i, 'intermediate_school'] = 1
        if b!= ' ' and int(b) >= 6:
            a = 6

    if int(a) in range(6, 9):
        school_data.loc[i, 'middle_school'] = 1
        if b!= ' ' and int(b) >= 9:
            a = 9

    if int(a) in range(9, 13):
        school_data.loc[i, 'high_school'] = 1

In [143]:
school_data

,School_name,school_type,city,zipcode,edu_range,elementary_school,intermediate_school,middle_school,high_school,school_grade,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 12,None,None,None,1,4,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Public,Phoenix,85028,9 12,None,None,None,1,5,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Public,Avondale,85323,9 12,None,None,None,1,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Public,Phoenix,85019,9 12,None,None,None,1,3,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Public,Glendale,85302,9 12,None,None,None,1,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Wickenburg Virtual Academy,Public,Wickenburg,85390,0 12,1,1,1,1,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],0,0,0,0,0
217,Williams Field High School,Public,Higley,85236,8 12,None,None,1,1,5,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0
218,Willis Junior High School,Public,Chandler,85225,7 8,None,None,1,None,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
219,Willow Canyon High School,Public,Surprise,85374,7 12,None,None,1,1,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
220,Youngker High School,Public,Buckeye,85326,9 12,None,None,None,1,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1

In [144]:
edu_level_categories = ['elementary_school' ,'intermediate_school','middle_school','high_school']
for column in edu_level_categories:
    school_data.fillna({column: 0}, inplace=True)

/var/folders/rd/0t81087x5czf3z64s284fdcw0000gn/T/ipykernel_46286/3105290311.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  school_data.fillna({column: 0}, inplace=True)

In [145]:
school_data

,School_name,school_type,city,zipcode,edu_range,elementary_school,intermediate_school,middle_school,high_school,school_grade,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Public,Mesa,85203,9 12,0,0,0,1,4,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Public,Phoenix,85028,9 12,0,0,0,1,5,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Public,Avondale,85323,9 12,0,0,0,1,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Public,Phoenix,85019,9 12,0,0,0,1,3,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Public,Glendale,85302,9 12,0,0,0,1,4,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Wickenburg Virtual Academy,Public,Wickenburg,85390,0 12,1,1,1,1,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...",['No data available'],['No data available'],"['Cafeteria (Onsite food service)', 'Technolog...",['No data available'],0,0,0,0,0
217,Williams Field High School,Public,Higley,85236,8 12,0,0,1,1,5,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0
218,Willis Junior High School,Public,Chandler,85225,7 8,0,0,1,0,4,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Math Club', 'ch...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
219,Willow Canyon High School,Public,Surprise,85374,7 12,0,0,1,1,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'Various Academi...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
220,Youngker High School,Public,Buckeye,85326,9 12,0,0,0,1,5,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Career and T...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1

In [146]:
school_data.drop('edu_range',axis=1, inplace=True)

In [147]:
school_data.drop('school_type',axis=1, inplace=True)

In [148]:
school_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0

In [149]:
# school_data.drop(school_data.columns[38:45], axis=1,inplace=True)
list(school_data.columns[38:45])

['awards_and_recognitions',
 'academic_offerings',
 'sports_facilities',
 'music_facilities',
 'after_school_opportunities',
 'other_facilities',
 'student_services']

In [150]:
# Remove duplicates from the DataFrame
school_data.drop_duplicates(inplace=True)

In [151]:
school_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0

In [152]:
school_data.to_csv('511_project_with_extra_cols.csv', index=False)