In [385]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import ast
from sklearn.preprocessing import MultiLabelBinarizer
import re
import numpy as np
from sklearn.preprocessing import StandardScaler

In [386]:
school_raw_data = pd.read_csv("../511_project_Step_3.csv")

In [387]:
school_raw_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,361.34,7245.17,47.33,2374.60,10028.44,1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,1015.26,8781.97,133.17,884.04,10814.43,1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,750.23,8190.89,73.03,183.81,9197.96,1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,1084.03,7182.71,175.34,783.21,9225.29,0,0,0,0,0

In [388]:
school_data = school_raw_data.copy(deep=True)
school_data

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,361.34,7245.17,47.33,2374.60,10028.44,1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,1015.26,8781.97,133.17,884.04,10814.43,1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,750.23,8190.89,73.03,183.81,9197.96,1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,1084.03,7182.71,175.34,783.21,9225.29,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wickenburg Virtual Academy,Wickenburg,85390,1,1,1,1,4,0,78,...,0.00,10009.70,0.00,1006.65,10028.44,0,0,0,0,0
216,Williams Field High School,Higley,85236,0,0,1,1,5,0,2115,...,589.04,6206.66,131.67,1282.88,8210.26,0,0,0,0,0
217,Willis Junior High School,Chandler,85225,0,0,1,0,4,1,858,...,807.22,7093.56,141.18,741.24,8783.20,1,1,1,1,1
218,Willow Canyon High School,Surprise,85374,0,0,1,1,5,0,1787,...,567.63,7535.96,541.30,1460.76,10105.66,1,1,1,1,1
219,Youngker High School,Buckeye,85326,0,0,0,1,5,1,2107,...,263.13,4703.99,5.26,135.97,5108.35,1,1,1,1,1

In [389]:

city_number_converter = LabelEncoder()
school_data['city']= city_number_converter.fit_transform(school_raw_data['city'])
school_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,12,85203,0,0,0,1,4,1,169,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
1,Accelerated Learning Center,14,85028,0,0,0,1,5,0,153,...,361.34,7245.17,47.33,2374.60,10028.44,1,1,1,1,1
2,Agua Fria High School,1,85323,0,0,0,1,4,1,1653,...,1015.26,8781.97,133.17,884.04,10814.43,1,1,1,1,1
3,Alhambra High School,14,85019,0,0,0,1,3,1,2283,...,750.23,8190.89,73.03,183.81,9197.96,1,1,1,1,1
4,Apollo High School,8,85302,0,0,0,1,4,1,2198,...,1084.03,7182.71,175.34,783.21,9225.29,0,0,0,0,0

In [390]:

zipcode_number_converter = LabelEncoder()
school_data['zipcode']= zipcode_number_converter.fit_transform(school_raw_data['zipcode'])
school_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,12,38,0,0,0,1,4,1,169,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
1,Accelerated Learning Center,14,18,0,0,0,1,5,0,153,...,361.34,7245.17,47.33,2374.60,10028.44,1,1,1,1,1
2,Agua Fria High School,1,81,0,0,0,1,4,1,1653,...,1015.26,8781.97,133.17,884.04,10814.43,1,1,1,1,1
3,Alhambra High School,14,11,0,0,0,1,3,1,2283,...,750.23,8190.89,73.03,183.81,9197.96,1,1,1,1,1
4,Apollo High School,8,74,0,0,0,1,4,1,2198,...,1084.03,7182.71,175.34,783.21,9225.29,0,0,0,0,0

In [391]:
expense_columns_to_drop = school_raw_data.columns[33:37].to_list()
expense_columns_to_drop

['personnel_federal_expenditure',
 'personnel_state_and_local_expenditure',
 'non_personnel_federal_expenditure',
 'non_personnel_state_and_local_expenditure']

In [392]:

school_data.drop(columns=expense_columns_to_drop,inplace=True, axis=1)

school_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,No_of_students_adv_placement_course,Students_with_Chronic_Absenteeism,crime_rate,total_students_bullied,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,12,38,0,0,0,1,4,1,169,...,0.0,79.0,0.0,0.0,10028.44,1,1,1,1,1
1,Accelerated Learning Center,14,18,0,0,0,1,5,0,153,...,0.0,171.0,0.0,0.0,10028.44,1,1,1,1,1
2,Agua Fria High School,1,81,0,0,0,1,4,1,1653,...,597.0,781.0,48.0,6.0,10814.43,1,1,1,1,1
3,Alhambra High School,14,11,0,0,0,1,3,1,2283,...,223.0,973.0,21.0,0.0,9197.96,1,1,1,1,1
4,Apollo High School,8,74,0,0,0,1,4,1,2198,...,256.0,847.0,47.0,0.0,9225.29,0,0,0,0,0

In [393]:
def range_exporter(n, column_name):
    n = int(n)
    # 0 = less
    # 1 = more
    if n == 0: 
        return school_data[column_name].quantile([0.40])[0.40]
    elif n == 1: 
        return school_data[column_name].quantile([0.60])[0.60]
    elif n == 2: 
        return school_data[column_name].quantile([0.80])[0.80]

In [394]:
testSet = [[]]

In [395]:
school_output_data = school_data.copy(deep=True)
school_output_data

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,No_of_students_adv_placement_course,Students_with_Chronic_Absenteeism,crime_rate,total_students_bullied,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,12,38,0,0,0,1,4,1,169,...,0.0,79.0,0.0,0.0,10028.44,1,1,1,1,1
1,Accelerated Learning Center,14,18,0,0,0,1,5,0,153,...,0.0,171.0,0.0,0.0,10028.44,1,1,1,1,1
2,Agua Fria High School,1,81,0,0,0,1,4,1,1653,...,597.0,781.0,48.0,6.0,10814.43,1,1,1,1,1
3,Alhambra High School,14,11,0,0,0,1,3,1,2283,...,223.0,973.0,21.0,0.0,9197.96,1,1,1,1,1
4,Apollo High School,8,74,0,0,0,1,4,1,2198,...,256.0,847.0,47.0,0.0,9225.29,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wickenburg Virtual Academy,21,96,1,1,1,1,4,0,78,...,2.0,0.0,0.0,0.0,10028.44,0,0,0,0,0
216,Williams Field High School,10,52,0,0,1,1,5,0,2115,...,447.0,724.0,6.0,0.0,8210.26,0,0,0,0,0
217,Willis Junior High School,3,48,0,0,1,0,4,1,858,...,0.0,478.0,27.0,0.0,8783.20,1,1,1,1,1
218,Willow Canyon High School,17,90,0,0,1,1,5,0,1787,...,459.0,625.0,64.0,0.0,10105.66,1,1,1,1,1
219,Youngker High School,2,82,0,0,0,1,5,1,2107,...,139.0,641.0,46.0,8.0,5108.35,1,1,1,1,1

In [396]:
scaler = StandardScaler()  

school_data = pd.DataFrame(scaler.fit_transform(school_data.iloc[:,1:]))

In [397]:
user_input = int(input("Do you have a school in mind or do you want to describe your ideal school \n 0 = Describe school\n 1 = Enter school name "))

In [398]:
if user_input == 1:
    school_name = input("Enter the full name of the school")
    if len(school_raw_data["School_name"][school_raw_data["School_name"].str.lower().isin([school_name.lower()])]) > 0:
        row_index_to_drop = school_raw_data["School_name"][school_raw_data["School_name"].str.lower().isin([school_name.lower()])].index

        testSet[0] = school_data.iloc[row_index_to_drop]
        
        school_data.drop(row_index_to_drop,inplace=True)
        school_output_data.drop(row_index_to_drop,inplace=True)
        
            
else:
    city_or_zipcode_selecter = int(input("Do you want to specify the city or zipcode \n 0 = City \n 1 = Zipcode"))
    
    if city_or_zipcode_selecter ==0:
        testSet[0].append(city_number_converter.transform([input("Enter the city you want the school")])[0])
        school_data.drop(columns=['zipcode'],inplace=True, axis=1) 
    else:
        testSet[0].append(zipcode_number_converter.transform([input("Enter the zipcode you want the school")])[0])
        school_data.drop(columns=['city'],inplace=True, axis=1) 
        
    testSet[0].append(input("Should the school have elementary level classes: \n 0 = No  \n 1 = Yes"))
    
    testSet[0].append(input("Should the school have intermediate level classes: \n 0 = No  \n 1 = Yes"))
    
    testSet[0].append(input("Should the school have middle level classes: \n 0 = No  \n 1 = Yes"))
    
    testSet[0].append(input("Should the school have high level classes: \n 0 = No  \n 1 = Yes"))
    
    testSet[0].append(input("Enter school grade constraints: [1-5]\n 1 being least and 5 being highest"))
    
    testSet[0].append(input("Should the school have Title I: \n 0 = No  \n 1 = Yes"))
    
    testSet[0].append( range_exporter(input("Enter the minimum number of students you want in the school: \n 0 = Less than 1000 \n 1 = Greater than 1000"),'total_students')) 

    # if int(input("Do you want to specify any race contraints? \n 0 = No  \n 1 = Yes")) ==1:
    race = int(input("Enter your race constraint \n 0 = African American \n 1 =  Hispanic \n 2 = Native  American\n 3 = White\n 4 = Multiple Race \n 5 = Asian\n 6 = Pacific Islander "))
    
    race_columns_to_drop = school_raw_data.columns[10:24].to_list()
    
    if school_raw_data.columns[(race*2) +11 -1] in race_columns_to_drop:
        race_columns_to_drop.remove(school_raw_data.columns[(race*2) +11 -1])
        
    school_data.drop(columns=race_columns_to_drop,inplace=True, axis=1)
    
    testSet[0].append(range_exporter(input("Enter the percentage of the race: \n0 = Low \n 1 = Medium \n 2 = High"),school_raw_data.columns[(race*2) +11 -1])) 
    
    testSet[0].append(range_exporter(input("Enter the proficiency points constraints: \n0 = Low \n 1 = Medium \n 2 = High"),'proficiency_pts')) 
    
    testSet[0].append(input("Enter the graduation rate constraints: [0-10]\n 0 being least and 10 being highest"))
    
    testSet[0].append(range_exporter(input("Enter the minimum dropout rate level: \n0 = Low \n 1 = Medium \n 2 = High"),'Dropout_rate')) 
    
    testSet[0].append(range_exporter(input("Enter the CCRI points level:  \n0 = Low \n 1 = Medium \n 2 = High"),'CCRI_points')) 
    
    testSet[0].append(range_exporter(input("Enter the promotion rate level: \n0 = Low \n 1 = Medium \n 2 = High"),'promotion_rate')) 
    
    testSet[0].append(range_exporter(input("Advanced placement courses support level:\n0 = Low \n 1 = Medium \n 2 = High"),'No_of_students_adv_placement_course')) 
    
    testSet[0].append(range_exporter(input("Chronic absenteeism level:\n0 = Low \n 1 = Medium \n 2 = High"),'Students_with_Chronic_Absenteeism')) 
    
    testSet[0].append(range_exporter(input("Crime rate level:\n0 = Low \n 1 = Medium \n 2 = High"),'crime_rate')) 
    
    testSet[0].append(range_exporter(input("Bullying level:\n0 = Low \n 1 = Medium \n 2 = High"),'total_students_bullied')) 
    
    testSet[0].append(range_exporter(input("Total per pupil expenditure level:\n0 = Low \n 1 = Medium \n 2 = High"),'total_per_pupil_expenditure')) 
    
    testSet[0].append(input("Should the school protect excessive distractions labeled as Social Emotional Learning: \n 0 = No  \n 1 = Yes"))
    testSet[0].append(input("Should the school/district appropriately respect all students as individuals:  \n 0 = No  \n 1 = Yes"))
    testSet[0].append(input("Should the school/district fully support teacher discipline recommendations:  \n 0 = No  \n 1 = Yes"))
    testSet[0].append(input("Should the school teach sexual content that is developmentally appropriate:  \n 0 = No  \n 1 = Yes"))
    testSet[0].append(input("Should the curriculum at school not expose students to explicit or graphic content that is developmentally inappropriate:  \n 0 = No  \n 1 = Yes"))

In [399]:
testSet[0]

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.076492,-0.31418,-0.404995,-0.434959,-1.056118,0.39736,-0.228783,1.0,-0.942318,-0.727017,...,-0.561159,-0.821152,-0.798902,-0.373474,-0.103561,1.095445,1.095445,1.095445,1.136515,1.095445

In [400]:
test = pd.DataFrame(testSet[0])
test.astype(int)
school_output_data.shape

(219, 38)

In [402]:
school_output_data.shape

(219, 39)

In [404]:
# Fit the model
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(school_data, school_output_data['School_name'])

# Get distances and indices of 5 nearest neighbors
distances, indices = neigh.kneighbors(test)

# Print the names of the 5 nearest schools
output_index = []
for i in range(5):
    output_index.append(indices[0][i])
    
school_raw_data.loc[output_index]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
18,Bogle Junior High School,Chandler,85248,0,0,1,0,5,0,1141,...,170.05,7350.83,111.26,370.30,8002.45,1,1,1,1,1
34,Copper Canyon High School,Glendale,85305,0,0,0,1,4,1,2157,...,843.59,8110.62,127.45,884.25,9965.91,0,0,0,0,0
208,Washington High School,Phoenix,85021,0,0,0,1,4,1,1758,...,895.71,7484.26,235.98,1163.17,9779.12,0,0,0,0,0
39,Country Gardens Charter School,Laveen,85339,1,1,1,1,4,1,322,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
46,Desert Foothills Middle School,Phoenix,85053,0,0,1,0,4,1,632,...,1281.61,7263.07,854.19,984.98,10383.86,1,1,1,0,1

In [403]:


# Fit the model
rf = RandomForestClassifier(n_estimators=5)
rf.fit(school_data, school_output_data['School_name'])

# Get a prediction from each tree in the forest
predictions = [tree.predict(test) for tree in rf.estimators_]


# Print the predictions
output_index = []
for prediction in predictions:
    output_index.append(int(prediction[0]))

school_raw_data.loc[output_index]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
136,Ombudsman - Charter Metro,Phoenix,85051,0,0,0,1,4,0,232,...,584.14,2557.36,168.68,2418.85,5729.03,0,0,0,0,0
34,Copper Canyon High School,Glendale,85305,0,0,0,1,4,1,2157,...,843.59,8110.62,127.45,884.25,9965.91,0,0,0,0,0
55,East Valley Academy,Mesa,85201,0,0,0,1,3,0,307,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1
54,Eagleridge Enrichment Program,Mesa,85210,1,1,1,1,2,0,645,...,0.00,10009.70,0.00,1006.65,10028.44,0,0,0,0,0
100,International Commerce High School - Phoenix,Phoenix,85014,0,0,0,1,5,0,200,...,424.07,8353.64,21.21,4783.81,13582.73,1,1,1,1,1

In [405]:


# Fit the model with probability=True
svc = SVC(probability=True)
svc.fit(school_data, school_output_data['School_name'])

# Get class probabilities
probabilities = svc.predict_proba(test)

# Get the top 5 class indices
top5_indices = np.argsort(probabilities, axis=1)[:,-5:]

# Get the class labels
classes = svc.classes_

# Get the top 5 class labels
top5_classes = classes[top5_indices]

school_raw_data[school_raw_data['School_name'].isin(top5_classes[0])]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,personnel_federal_expenditure,personnel_state_and_local_expenditure,non_personnel_federal_expenditure,non_personnel_state_and_local_expenditure,total_per_pupil_expenditure,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
13,Arizona Virtual Academy,Phoenix,85004,1,1,1,1,3,1,5110,...,522.32,3068.80,1438.37,9825.53,14855.02,1,1,1,1,1
23,Cactus Shadows High School,Scottsdale,85266,0,0,1,1,5,0,1587,...,9636.75,122302.14,4217.27,21696.21,157852.38,0,0,0,0,0
84,Hamilton High School,Chandler,85248,0,0,1,1,5,0,3828,...,238.96,6331.79,73.59,749.36,7393.70,0,0,0,0,0
156,Primavera - Online,Chandler,85225,1,1,1,1,2,0,6381,...,0.00,10009.70,0.00,1006.65,10028.44,0,0,0,0,0
213,Westwood High School,Mesa,85201,0,0,0,1,3,0,3571,...,0.00,10009.70,0.00,1006.65,10028.44,1,1,1,1,1

In [412]:
school_additional_raw_data = pd.read_csv("../511_project_with_extra_cols.csv")

In [413]:
school_additional_raw_data.head(6)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
5,Arcadia High School,Phoenix,85018,0,0,0,1,5,0,1603,...,['No data available'],['No data available'],['No data available'],['No data available'],['No data available'],0,0,0,0,0

In [414]:
school_additional_data = school_additional_raw_data.copy(deep=True)
school_additional_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,['No data available'],"['Art', 'Photography']",['No data available'],"['Art Room', 'Indoor air quality control']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID Club/Unive...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'World Language ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0

In [415]:
additional_cols = ['awards_and_recognitions',
 'academic_offerings',
 'sports_facilities',
 'music_facilities',
 'after_school_opportunities',
 'other_facilities',
 'student_services']

In [416]:
for additional_col in additional_cols:

    school_additional_data[additional_col] = school_additional_data[additional_col].apply(ast.literal_eval)
    one_hot_genres_df = school_additional_data[additional_col].str.get_dummies(sep=",")
    
    mlb = MultiLabelBinarizer()
    
    one_hot_encoded_data = mlb.fit_transform(school_additional_data[additional_col])
    
    one_hot_df = pd.DataFrame(one_hot_encoded_data, columns=mlb.classes_)
    
    columns = one_hot_df.columns.tolist()
    
    columns_to_drop = []
    
    numeric_patterns = re.compile(r"\d\.\d")
    for col in columns:
        if sum(one_hot_df[col])==1:
            columns_to_drop.append(col)
        elif numeric_patterns.match(col) or col.isnumeric():
            columns_to_drop.append(col)
        elif len(col) > 50:
            columns_to_drop.append(col)
            # print(col)

            
    if 'No data available'not in columns_to_drop:
        columns_to_drop.append('No data available')
        
    
    one_hot_df.drop(columns=columns_to_drop,inplace=True,axis=1)
    
    school_additional_data = pd.concat([school_additional_data.drop(additional_col, axis=1), one_hot_df], axis=1)

In [418]:
school_additional_data.head(5)

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,Parenting programs,Partner Community Organizations,Partner Mental Health Agencies,Refugee services,School Psychologist,Small group counseling,Southwest Behavior Health,Southwest Behavioral Health,Teen Lifeline,chevron_right
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,0,0,0,0,0,0,0,0,0,0
1,Accelerated Learning Center,Phoenix,85028,0,0,0,1,5,0,153,...,0,0,0,0,0,0,0,0,0,0
2,Agua Fria High School,Avondale,85323,0,0,0,1,4,1,1653,...,0,0,0,0,0,0,0,0,0,0
3,Alhambra High School,Phoenix,85019,0,0,0,1,3,1,2283,...,0,1,1,1,0,1,0,0,1,1
4,Apollo High School,Glendale,85302,0,0,0,1,4,1,2198,...,0,0,0,0,0,0,0,0,0,0

In [419]:
# school_additional_data.to_csv('dataset_of_schools_in_phoenix_metropolitan_with_extra_cols.csv', index=False)

In [420]:
add_test_set = [[]]

In [421]:

city_number_converter = LabelEncoder()
school_additional_data['city '] = city_number_converter.fit_transform(school_additional_raw_data['city '])


zipcode_number_converter = LabelEncoder()
school_additional_data['zipcode'] = zipcode_number_converter.fit_transform(school_additional_raw_data['zipcode'])

In [422]:
school_add_output_data = school_additional_data.copy(deep=True)
school_add_output_data

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,Parenting programs,Partner Community Organizations,Partner Mental Health Agencies,Refugee services,School Psychologist,Small group counseling,Southwest Behavior Health,Southwest Behavioral Health,Teen Lifeline,chevron_right
0,Academy with Community Partners,12,38,0,0,0,1,4,1,169,...,0,0,0,0,0,0,0,0,0,0
1,Accelerated Learning Center,14,18,0,0,0,1,5,0,153,...,0,0,0,0,0,0,0,0,0,0
2,Agua Fria High School,1,81,0,0,0,1,4,1,1653,...,0,0,0,0,0,0,0,0,0,0
3,Alhambra High School,14,11,0,0,0,1,3,1,2283,...,0,1,1,1,0,1,0,0,1,1
4,Apollo High School,8,74,0,0,0,1,4,1,2198,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wickenburg Virtual Academy,21,96,1,1,1,1,4,0,78,...,0,0,0,0,0,0,0,0,0,0
216,Williams Field High School,10,52,0,0,1,1,5,0,2115,...,0,0,0,0,0,0,0,0,0,0
217,Willis Junior High School,3,48,0,0,1,0,4,1,858,...,1,0,1,0,0,0,0,1,0,1
218,Willow Canyon High School,17,90,0,0,1,1,5,0,1787,...,0,0,0,0,0,0,0,0,0,0
219,Youngker High School,2,82,0,0,0,1,5,1,2107,...,0,0,0,0,1,0,0,0,0,1

In [424]:
scaler = StandardScaler()

school_additional_data = pd.DataFrame(scaler.fit_transform(school_additional_data.iloc[:, 1:]))

In [428]:
school_name_add = input("Enter the full name of the school")
if len(school_additional_raw_data["School_name "][school_additional_raw_data["School_name "].str.lower().isin([school_name_add.lower()])]) > 0:
    row_index_to_drop = school_additional_raw_data["School_name "][school_additional_raw_data["School_name "].str.lower().isin([school_name_add.lower()])].index

    add_test_set[0] = school_additional_data.iloc[row_index_to_drop]
    
    school_additional_data.drop(row_index_to_drop,inplace=True)
    school_add_output_data.drop(row_index_to_drop,inplace=True)

In [429]:
add_test_set[0]

,0,1,2,3,4,5,6,7,8,9,...,462,463,464,465,466,467,468,469,470,471
0,0.076492,-0.31418,-0.404995,-0.434959,-1.056118,0.39736,-0.228783,1.0,-0.942318,-0.727017,...,-0.270501,-0.358057,-0.412568,-0.206529,-0.117579,-0.507093,-0.095783,-0.260694,-0.270501,-0.793492

In [430]:
add_test = pd.DataFrame(add_test_set[0])
add_test.astype(int)
add_test.shape

(1, 472)

In [431]:
# Fit the model
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(school_additional_data, school_add_output_data['School_name '])

# Get distances and indices of 5 nearest neighbors
distances, indices = neigh.kneighbors(add_test)

# Print the names of the 5 nearest schools
output_index = []
for i in range(5):
    output_index.append(indices[0][i])

school_additional_raw_data.loc[output_index]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
90,Hillcrest Middle School,Glendale,85310,0,0,1,0,5,0,898,...,"['Baseball', 'Basketball', 'Cross-Country', 'S...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'Arts', 'Athletic', 'Games and Ga...","['Art Room', 'Cafeteria (Onsite food service)'...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
39,Country Gardens Charter School,Laveen,85339,1,1,1,1,4,1,322,...,"['Swimming', 'Others', 'chevron_right', 'Dance...","['Art', 'Cultural Arts', 'Dance', 'Music', 'Ph...","['Academic', 'chevron_right', 'Entreprenuershi...","['Art Room', 'Auditorium', 'Cafeteria (Onsite ...","['Mental health services', 'Individual counsel...",1,1,1,1,1
41,Crown Point High School,Phoenix,85033,0,0,0,1,5,0,35,...,['No data available'],['No data available'],['No data available'],['No data available'],"['Assistance with Material Needs', 'McKinney-V...",0,0,0,0,0
0,Academy with Community Partners,Mesa,85203,0,0,0,1,4,1,169,...,"['Basketball', 'Others', 'chevron_right', 'Fla...",['Art'],"['Athletic', 'chevron_right', 'Basketball', 'c...","['Dedicated Counselors', 'chevron_right', '1']","['Assistance with Material Needs', 'McKinney-V...",1,1,1,1,1
40,Crestview College Preparatory High School,Phoenix,85032,0,0,0,1,4,1,246,...,"['Others', 'chevron_right', 'Weight Training']","['Art', 'Painting']",['No data available'],"['Art Room', 'Cafeteria (Onsite food service)'...",['No data available'],1,1,1,1,1

In [238]:
print(distances)

[[ 70.36297322  83.83206069  96.90012951  97.7886159  108.52153888]]

In [432]:
# Fit the model
rf = RandomForestClassifier(n_estimators=5)
rf.fit(school_additional_data, school_add_output_data['School_name '])

# Get a prediction from each tree in the forest
predictions = [tree.predict(add_test) for tree in rf.estimators_]

# Print the predictions
output_index = []
for prediction in predictions:
    output_index.append(int(prediction[0]))

school_additional_raw_data.loc[output_index]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
98,Intelli-School - Paradise Valley,Phoenix,85022,0,0,0,1,4,1,62,...,['No data available'],['No data available'],"['Career Focus', 'chevron_right', 'West MEC', ...","['Dedicated Counselors', 'chevron_right', '1']",['No data available'],0,0,0,0,0
193,Sunrise Mountain High School,Peoria,85382,0,0,1,1,5,0,2018,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...",['No data available'],"['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
65,Gilbert High School,Gilbert,85234,0,0,1,1,4,0,2350,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'AVID', 'chevron...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],1,1,1,1,1
208,Washington High School,Phoenix,85021,0,0,0,1,4,1,1758,...,"['Badminton', 'Baseball', 'Basketball', 'Cross...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'French Club', '...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
199,Tolleson Union High School,Tolleson,85353,0,0,0,1,4,1,2256,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",0,0,0,0,0

In [433]:

import numpy as np

svc = SVC(probability=True)
svc.fit(school_additional_data, school_add_output_data['School_name '])

probabilities = svc.predict_proba(add_test)

top5_indices = np.argsort(probabilities, axis=1)[:, -5:]

classes = svc.classes_

top5_classes = classes[top5_indices]
school_additional_raw_data[school_additional_raw_data['School_name '].isin(top5_classes[0])]

,School_name,city,zipcode,elementary_school,intermediate_school,middle_school,high_school,school_grade,title_i_status,total_students,...,sports_facilities,music_facilities,after_school_opportunities,other_facilities,student_services,acad_focus_1,acad_focus_2,acad_focus_3,acad_focus_4,acad_focus_5
34,Copper Canyon High School,Glendale,85305,0,0,0,1,4,1,2157,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
107,La Joya Community High School,Avondale,85353,0,0,0,1,4,1,2078,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0
120,Metro Tech High School,Phoenix,85015,0,0,0,1,5,1,1804,...,"['Baseball', 'Basketball', 'Cross-Country', 'G...","['Art', 'Dance', 'Theater', 'Others', 'chevron...","['Academic', 'chevron_right', 'Physics (Fyzyx)...","['Art Room', 'Book Store', 'Cafeteria (Onsite ...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
131,North High School,Phoenix,85014,0,0,0,1,3,1,2135,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'NHS', 'chevron_...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...","['Dedicated School Counselor', 'chevron_right'...",1,1,1,1,1
212,Westview High School,Avondale,85353,0,0,0,1,4,1,1864,...,"['Baseball', 'Basketball', 'Cross-Country', 'F...","['Art', 'Band', 'Ceramics/Sculpting', 'Choir',...","['Academic', 'chevron_right', 'National Honor ...","['Art Room', 'Auditorium', 'Book Store', 'Cafe...",['No data available'],0,0,0,0,0